/* Site */
body {
    background-image: url("img/bg.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    background: black;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

.footer {
    background: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    color: white;
    font-size: 10px;
    margin-top: 50px;
}

.footer p {
    margin: auto;
    padding: 20px;
}

.navigation {
    height: 100%;
}

.navigation li {
    display: inline;
    font-family: sans-serif;
    font-size: 18px;
    padding: 10px;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    text-decoration: underline;
}

/* Index */
.content {
    width: 80%;
    background-color: black;
    color: white;
    margin: auto;
    padding: 50px;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
}

.content img {
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 3px solid #34ebcc;
}

/* Forms */
.content a {
    text-decoration: none;
    color: white; 
}

.content a:hover {
    text-decoration: underline;
}
